<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.goaltracking">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="io.sentry.dsn" android:value="https://9b475aace78040eb98234e9da00a86c7@o1230687.ingest.sentry.io/6377537" />
        <meta-data android:name="io.sentry.traces.sample-rate" android:value="1.0" />

        <activity
            android:name=".LoadingWindow"
            android:exported="true">

            <intent-filter>

                <!-- <action android:name="com.google.firebase.MESSAGING_EVENT" /> -->
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".OkrProgressActivity"
            android:exported="false" />
        <activity
            android:name=".ViewGoalActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityMainWindow"
            android:exported="false" />
        <activity
            android:name=".AddNewGoalActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainActivity"
            android:exported="true">

        </activity>

        <service
            android:name=".FirebaseMessages"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE"/>
            </intent-filter>
        </service>
    </application>

</manifest>